.container-box {
  margin-top: 30px;
  width: 450px;
  padding: 20px;
}

.title-heading {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #4A4A4A;
}

body {
  font-family: "Century Gothic", sans-serif;
}
